<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Блог</title>
</head>

<body>
<form method="GET" action="/add">
    <button style="float:right;">ДОБАВИТЬ ПОСТ</button>
</form>
<div style="justify-content: center">
    <table style="width:50%;margin-left:auto;margin-right:auto;">
        <tr>
            <td>
                <form>
                    <!--/*@thymesVar id="paging" type="ru.yandex.practicum.model.Paging"*/-->
                    <p>
                        <label for="search">Найти по тегу: </label>
                        <input id="search" style="width:300px;" name="search" th:value="${search}"></input>
                        <button name="action">&#128269;</button>
                    </p>
                    <p>
                        <label for="pageSize">Число постов: </label>
                        <select id="pageSize" name="pageSize" onchange="this.form.submit()">
                            <option value="5" th:selected="${paging.getPageSize()==5}">5</option>
                            <option value="10" th:selected="${paging.getPageSize()==10}">10</option>
                            <option value="20" th:selected="${paging.getPageSize()==20}">20</option>
                            <option value="50" th:selected="${paging.getPageSize()==50}">50</option>
                            <option value="100" th:selected="${paging.getPageSize()==100}">100</option>
                        </select>
                    </p>
                    <p>
                        <button th:if="${paging.hasPrevious()}" name="pageNumber"
                                th:value="${paging.getPageNumber()-1}">
                            &lt;
                        </button>
                        <span th:text="${'Страница: '+paging.getPageNumber()}"></span>
                        <button th:if="${paging.hasNext()}" name="pageNumber" th:value="${paging.getPageNumber()+1}">
                            &gt;
                        </button>
                    </p>
                </form>
            </td>
        </tr>
        <!--/*@thymesVar id="posts" type="ru.yandex.practicum.model.dto.PostDto"*/-->
        <tr th:each="post : ${posts}">
            <td style="border-bottom:thin solid;">
                <div style="text-align: center">
                    <a th:href="@{|/${post.getId()}|}">
                        <h2 th:text="${post.getTitle()}"></h2>
                    </a>
                    <span>
                        <img height="300" th:src="@{|/images/${post.getId()}|}"></img>
                    </span>
                </div>
                <p th:text="${post.getTextPreview()}"></p>
                <div style="text-align: right">
                    <span th:text="${'&#x1F44D; '+post.getLikesCount()}"></span>
                    <span th:text="${'&#x2709; '+post.getComments().size()}"></span>
                </div>
                <div>
                    <span th:each="tag : ${post.getTags()}" th:text="${'#'+tag+' '}"></span>
                </div>
            </td>
        </tr>
    </table>
</div>
</body>
</html>